<input id="toggle" type="checkbox" checked>
<h3>From
  <b>{{airportFromName}}</b> to
  <b>{{airportToName}}</b> on
  <b>{{searchModel.outDate}}</b>
  back
  <b>{{searchModel.backDate}}</b>
</h3>
<label id="toggle-label" for="toggle">Modify Search</label>
<div id="expand">
  <ryanair-flights-search [model]="searchModel"></ryanair-flights-search>
</div>

<div *ngFor="let item of flightsData" class="wrapper">
  <aside class="col col-1"> Departure: {{getDisplayDate(item.dateFrom)}}</aside>
  <aside class="col col-2"> Arrival: {{getDisplayDate(item.dateTo)}}</aside>
  <footer class="buttons-pane">
    <button><b>BUY FOR {{item.price | currency:item.currency:true}}</b></button>
  </footer>
</div>
<div *ngIf="!flightsData.length">
  No items to display
</div>