input#toggle {
  display: none;
  visibility: hidden;
}
label#toggle-label {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  color: #666;
  cursor: pointer;
}
label#toggle-label:hover {
  color: #000;
}
label#toggle-label::before {
  font-weight: bold;
  font-size: 15px;
  content: "-";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: auto; 
  color: #FFF;
}

#toggle:checked ~ #expand {
  height: 0;
  overflow: hidden;
}
#toggle:checked ~ label::before {
  content: "+";
}

