<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">
            Fly out:
        </label>
    </div>

    <div class="control">
        <ryanair-date-selector [ngModel]="startDate" (ngModelChange)="onStartDateChange($event)">
        </ryanair-date-selector>
    </div>

    <div class="control-label">
        <label class="label">
            Fly back:
        </label>
    </div>
    <div class="control">
        <ryanair-date-selector [ngModel]="endDate" (ngModelChange)="onEndDateChange($event)">
        </ryanair-date-selector>
    </div>
</div>