<form [formGroup]="form">
    <div class="control is-horizontal">
        <div class="control-label">
            <label class="label">
                From:
            </label>
        </div>
        <div class="control">
            <ryanair-autocomplete [ngClass]="{'error':isInvalid('outAirport')}" formControlName="outAirport" [items]="fromAirports"></ryanair-autocomplete>
        </div>
        <div class="control-label">
            <label class="label">
                To:
            </label>
        </div>
        <div class="control">
            <ryanair-autocomplete [ngClass]="{'error':isInvalid('backAirport')}" formControlName="backAirport" [items]="toAirports"></ryanair-autocomplete>
        </div>
    </div>
    <div class="control is-horizontal">
        <div class="control-label">
            <label class="label">
                Fly out:
            </label>
        </div>

        <div class="control">
            <ryanair-date-selector [ngClass]="{'error':isInvalid('outDate')}" formControlName="outDate">
            </ryanair-date-selector>
        </div>

        <div class="control-label">
            <label class="label">
                Fly back:
            </label>
        </div>
        <div class="control">
            <ryanair-date-selector [ngClass]="{'error':isInvalid('backDate')}" formControlName="backDate">
            </ryanair-date-selector>
        </div>
    </div>
    <div class="centered">
        <button [disabled]="this.form.invalid" id="searchBtn" (click)="search()" type="button">SEARCH</button>
    </div>
</form>