/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';


main {
  background:$background-color;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  font-family: Arial, Helvetica, sans-serif;
}
  
.centered{
  display: flex;
  justify-content: center;
}
.left-aligned{
  display: flex;
  justify-content: left;
}

/* Master Styles */
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  background-color: $button-color;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: #054b69;
}
button:disabled {
  background-color:gainsboro;
  color: #aaa;
  cursor: not-allowed; 
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

.error input, .error select,.error textarea{
  border:3px solid #E3c3c5;
}

.error ::-webkit-input-placeholder{
  color: #999;
}

.error ::-moz-placeholder {color:999;}

.error :-ms-input-placeholder{color:#999;}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left;
  -webkit-box-shadow: 2px 2px 13px -1px rgba(89,84,89,1);
  -moz-box-shadow: 2px 2px 13px -1px rgba(89,84,89,1);
  box-shadow: 2px 2px 13px -1px rgba(89,84,89,1);
  margin: 1rem ;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

// .buttons-pane {
// }

// .col-1 {
// }

// .col-2 {
// }

@media all and (min-width: 600px) {
  .col { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .col-1 { order: 1; } 
  .col-2 { order: 2; }
  .buttons-pane  { order: 3; }
}
