<div class="control autocompelete">
  <input (input)="textInput($event)" (blur)="blur($event)" (keyup)="keyShortcut($event)" (focus)="focus()" class="input is-medium" type="text" [value]="inputText"/>
  <div class="autocomplete-items"  *ngIf="showAutocompleteItems && filteredItems">
    <div class="autocomplete-item" *ngFor="let item of filteredItems" (mousedown)="itemSelected($event,item)" [innerHTML]="item.text">

    </div>
  </div>
</div>