.autocomplete-items{
    width: 100%;
    max-height: 200px;
    z-index: 999;
    position: absolute;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.3rem;
    background-color:rgb(253, 252, 252);
    -webkit-box-shadow: 6px 3px 13px 0px rgba(107,101,107,1);
    -moz-box-shadow: 6px 3px 13px 0px rgba(107,101,107,1);
    box-shadow: 6px 3px 13px 0px rgba(107,101,107,1);
}

.control{
    position: relative;
}

.autocomplete-item{
    cursor: pointer;
    color: gray;
}

.autocomplete-item:hover,
.autocomplete-item#focused{
    background-color: rgb(18, 240, 240);
}